@model User

@{
    ViewData["Title"] = "New user";
    string breadcrunb = ViewBag.Breadcrumb as string;
}

@await Html.PartialAsync("_Breadcrumb", model: breadcrunb)
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">First Name</label>
                <input asp-for="FirstName" class="form-control" placeholder="enter" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Last Name</label>
                <input asp-for="LastName" class="form-control" placeholder="enter" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Email</label>
                <input type= "email" asp-for="Email" class="form-control" placeholder="enter" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Phone Number</label>
                <input  type="tel" asp-for="Phone" class="form-control" placeholder="enter" />
                <span asp-validation-for="Phone" class="mdi-numeric"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input type="password" asp-for="Password" class="form-control" placeholder="enter" />
                <span asp-validation-for="Password" class="mdi-textbox-password"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-success">Back</a>
</div>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

