@model IEnumerable<Entities.Concrete.User>

@{
    ViewData["Title"] = "Users";
    string breadcrumb = ViewBag.Breadcrumb as string;
}

@await Html.PartialAsync("_Breadcrumb", model: breadcrumb)
<p>
    <a asp-action="Create" class="btn btn-outline-success">+ Add</a>
</p>
@if (Model.Count() != 0)
{
    <table id="state-saving-datatable" class="table activate-select  nowrap">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td class="d-flex justify-content-center">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-info mr-1"><i class="fas fa-edit"></i></a>
                        <a class="DeleteItem btn btn-outline-danger" asp-action="delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        Have not countries !
    </div>
}
@section Style{
    <link rel="stylesheet" href="~/assets/plugins/sweetalert2/sweetalert2.min.css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link href="~/lib/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/plugins/datatables/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/assets/plugins/datatables/responsive.bootstrap4.css">
}
@section scripts{
    <script src="~/assets/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="~/lib/jquery-toast-plugin/jquery.toast.min.js"></script>
    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/assets/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/assets/pages/datatables-demo.js"></script>
}
