@model Activity

@{
    ViewData["Title"] = "New activity";
    string breadcrunb = ViewBag.Breadcrumb as string;
}

@await Html.PartialAsync("_Breadcrumb", model: breadcrunb)
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ActivityName" class="control-label"></label>
                <input asp-for="ActivityName" class="form-control" placeholder="enter" />
                <span asp-validation-for="ActivityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityTypeId">
                </label>
                <select asp-for="ActivityTypeId"
                        asp-items="@ViewBag.ActivityTypeId" 
                        class="form-control"></select>
                <input hidden name="ActivityTypeId" value="@Model.ActivityTypeId">
            </div>
            <div class="form-group">
                <label asp-for="CityId">
                </label>
                <select asp-for="CityId"
                        asp-items="@ViewBag.CityId" 
                        class="form-control"></select>
                <input hidden name="CityId" value="@Model.CityId">
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-success">Back</a>
</div>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

